{% extends 'base.html' %}

{% block title %}前台管理{% endblock title %}

{% block navibar %}
    <li class="treeview">
        <a href="/manager/index">
            <i class="fa fa-dashboard"></i> <span>主页</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/manager/add">
            <i class="fa fa-dashboard"></i> <span>客户入住</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/manager/checkout">
            <i class="fa fa-dashboard"></i> <span>结账</span>
        </a>
    </li>
{% endblock navibar %}

{% block page-wrapper %}
<div class="-simple-chart-holder" style="margin:auto" >
    <table class="table table-hover" style="margin:auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">RoomId</th>
          <th scope="col">Customer_Name</th>
          <th scope="col">Checkout</th>
        </tr>
      </thead>
      <tbody>
      {%for item in cust_list%}
            <tr>
                <td width="120px">{{forloop.counter}}</td>
                <td width="150px"><a href="" style="color: #0f0f0f">{{ item.RoomId }}</a></td>
                <td width="200px">{{ item.Name }}</td>
                <td width="200px"><a href="/manager/checkout?room_id={{ item.RoomId }}">checkout</a></td>
            </tr>
        {%endfor%}
    </table>
    <nav aria-label="Page navigation example">
        <div class="pagination">
            <ul class="pagination">
            {% if cust_list.has_previous %}
                <li class="page-item"><a class="page-link" href="/manager/index?page={{cust_list.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo</span></a></li>
            {% endif %}

            {% for num in cust_list.paginator.page_range%}
                {%if cust_list.number == num%}
                    <li class="page-item active"><a class="page-link" href="/manager/index/{{ num }}">{{ num }}</a></li>
                {%else%}
                    <li><a class="page-link" href="/manager/index/?page={{num}}">{{ num }}</a></li>
                {%endif%}
             {% endfor %}

             {% if cust_list.has_next %}
                 <li page-item><a class="page-link" href="/manager/index/?page={{cust_list.next_page_number}}" aria-label="Next">
                      <span aria-hidden="true">&raquo</span></a></li>
              {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% endblock page-wrapper %}