{% extends 'director/index.html' %}
{% block content %}
    <table class="table1 table-striped">
        <tr>
            <th>日期</th>
            <th>使用次数</th>
            <th>最常用目标温度</th>
            <th>最常用风速</th>
            <th>达到目标温度次数</th>
            <th>被调度次数</th>
            <th>详单记录数</th>
            <th>费用</th>
        </tr>
        {% for i in date %}
            <tr>
            <td>5.{{i }}</td>
            <td>3</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            </tr>
        {%endfor  %}

    </table>
{% endblock content %}