{% extends 'base.html' %}

{% block title %}
登陆
{% endblock %}

{% block navibar %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>酒店空调管理</span>
        </a>
    </li>
{% endblock navibar %}

{% block page-wrapper %}
    <div class="main-page login-page ">
        <h2 class="title1">登录</h2>
            <div class="widget-shadow">
                <div class="login-body">
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <input type="email" class="user" name="email" placeholder="Enter Your Emial" required="">
                        <input type="password" name="password" class="lock" placeholder="Password" required="">
                        <input type="submit" name="Sign In" value="Sign In">
                    </form>
                </div>
            </div>
    </div>
{% endblock page-wrapper %}