{% extends 'adm/index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



{% block page-wrapper %}
<div class="-simple-chart-holder" style="margin:auto" >
    <table id="tb" class="table" width="30px">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Room_id</th>
        <th scope="col">空调状态(开/关)</th>
        <th scope="col">目标温度</th>
        <th scope="col">当前温度</th>
        <th scope="col">空调风速</th>
        <th scope="col">空调模式</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">642</th>
        <td>开</td>
        <td>26</td>
        <td>31</td>
        <td>1</td>
        <td>制冷</td>
    </tr>
    <tr>
        <th scope="row">643</th>
        <td>开</td>
        <td>19</td>
        <td>26</td>
        <td>3</td>
        <td>制冷</td>
    </tr>
    <tr>
        <th scope="row">644</th>
        <td>关</td>
        <td>xxx</td>
        <td>24</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>
  </tbody>
</table>

</div>
<div>请输入要查看的房间号:<input type="text" name="fname" id="checkroom"/></div>




    <script type="text/javascript">
     /**
	  * JavaScript遍历table
	  */
     function checkinfo(){
         var a = document.getElementById("checkroom");
         /*$.ajax({
                type: 'POST',
                url:'checkInfo',
                data:{
                    'room_id': a.value
                },
                datatype: 'json'
            })*/

     }

     function getinfo(){
         var a = document.getElementById("checkroom");
         $.ajax({
             type: 'POST',
                url:'checkInfo',
                data:{
                    'room_id': a.value
                },
                datatype: 'json',
             success: function(data){
                 $("#room_list").html('');
                 var me_li = data.data;
                 var message_list = eval(me_li);
                 for(let i = 0;i<message_list.length;i++){
                     var fie = message_list[i].fields;
                     var is_on = fie.is_on;
                     console.log(fie);
                     $("#room_list").html($("#room_list").html() + "<p>"+"<b>" + "是否开启 : "+"</b>"+is_on+"</p>")
                 }
             }
         })
     }

     function eachTableRow()
	 {
		 //获取table序号
		 var tab=document.getElementById("tb");
		 //获取行数
     	 var rows=tab.rows;
		 //遍历行
     	 for(var i=1;i<rows.length;i++)
     	{
			//遍历表格列
        	for(var j=0;j<rows[i].cells.length;j++)
        	{
				//打印某行某列的值
       			console.log("第"+(i+1)+"行，第"+(j+1)+"列的值是:"+rows[i].cells[j].innerHTML);
        	}
     	}
	 }

	 function loop_check()
     {

         checkinfo();
          a = window.setTimeout("loop_check()", 5000);
          clearTimeout(a);

     }
     loop_check();

</script>
    <input type="button" value="遍历" onclick="eachTableRow()"/>
    <input type="button" value="查询" onclick="getinfo()">

    <u1 id = "room_list">
    </u1>

    {%with state_list|first as first %}
                  <p><b>房间号: </b>{{ state_list.room_id }}</p>
                  <p><b>是否入住: </b>{{ state_list.busy }}</p>
                  <p><b>是否开机: </b>{{ state_list.is_on }}</p>
                  <p><b>是否送风: </b>{{ state_list.is_work }}</p>
                  <p><b>风速模式: </b>{{ state_list.choice1 }}</p>
                  <p><b>送风时间: </b>{{ state_list.choice2 }}</p>
                  <p><b>计费金额: </b>{{ state_list.work_mode }}</p>

                  <p><b>风速: </b>{{ state_list.sp_mode }}</p>
                  <p><b>目标温度: </b>{{ state_list.goal_temp }}</p>
                  <p><b>当前温度: </b>{{ state_list.curr_temp }}</p>
                  <p><b>总花费: </b>{{ state_list.total_cost }}</p>
                  <br><br>
    {%endwith%}
{% endblock page-wrapper %}


<!--{% block content %}-->

<!--    <table id="tb" class="table" width="30px">-->
<!--  <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th scope="col">Room_id</th>-->
<!--        <th scope="col">空调状态(开/关)</th>-->
<!--        <th scope="col">目标温度</th>-->
<!--        <th scope="col">当前温度</th>-->
<!--        <th scope="col">空调风速</th>-->
<!--        <th scope="col">空调模式</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--        <th scope="row">642</th>-->
<!--        <td>开</td>-->
<!--        <td>26</td>-->
<!--        <td>31</td>-->
<!--        <td>1</td>-->
<!--        <td>制冷</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">643</th>-->
<!--        <td>开</td>-->
<!--        <td>19</td>-->
<!--        <td>26</td>-->
<!--        <td>3</td>-->
<!--        <td>制冷</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">644</th>-->
<!--        <td>关</td>-->
<!--        <td>xxx</td>-->
<!--        <td>24</td>-->
<!--        <td>xxx</td>-->
<!--        <td>xxx</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->


{% endblock content %}

</body>
</html>