{% extends 'adm/index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



{% block page-wrapper %}
    <div class="-simple-chart-holder" style="margin:auto">
        <table id="tb" class="table" width="30px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">房间号</th>
                <th scope="col">空调状态(开/关)</th>
                <th scope="col">目标温度</th>
                <th scope="col">当前温度</th>
                <th scope="col">空调风速</th>
                <th scope="col">空调模式</th>
                <th scope="col">当前花费</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

</div>
<div>请输入要查看的房间号:<input type="text" name="fname" id="checkroom"/></div>




    <script type="text/javascript">
        /**
         * JavaScript遍历table
         */
        function checkinfo() {
            var a = document.getElementById("checkroom");
            $.ajax({
                type: 'POST',
                url: 'checkInfo',
                data: {
                    "get": ""
                },
                datatype: 'json',
                success: function (data) {
                    var artTable = document.getElementById("tb");
                    var artBody = artTable.tBodies[0];
                    artBody.parentNode.outerHTML = artBody.parentNode.outerHTML.replace(artBody.innerHTML, "");
                    var artTable2 = document.getElementById("tb1");
                    var artBody2 = artTable2.tBodies[0];
                    artBody2.parentNode.outerHTML = artBody2.parentNode.outerHTML.replace(artBody2.innerHTML, "");
                    var all_li = eval(data);
                    var all_list = eval(all_li.all_data);
                    var tb = document.getElementById('tb');
                    var body = tb.querySelector('tbody');
                    var tb2 = document.getElementById('tb1');
                    var body2 = tb2.querySelector('tbody');
                    for (let i = 0; i < all_list.length; i++) {
                        var fie = all_list[i].fields;
                        var tr = document.createElement('tr');
                        var tr2 = document.createElement('tr');
                        var td1 = document.createElement('th', scope = "col");
                        var td2 = document.createElement('td');
                        var td3 = document.createElement('td');
                        var td4 = document.createElement('td');
                        var td5 = document.createElement('td');
                        var td6 = document.createElement('td');
                        var td7 = document.createElement('td');
                        var td8 = document.createElement('td');

                        td1.innerHTML = all_list[i].pk;
                        td2.innerHTML = fie.is_on;
                        if(typeof(fie.goal_temp) == 'number')
                            td3.innerHTML = fie.goal_temp.toFixed(2);
                        else td3.innerHTML = fie.goal_temp;
                        if(typeof(fie.cur_temp) == 'number')
                            td4.innerHTML = fie.cur_temp.toFixed(2);
                        else td4.innerHTML = fie.cur_temp;
                        td5.innerHTML = fie.sp_mode;
                        td6.innerHTML = fie.work_mode;
                        if(typeof(fie.total_cost) == 'number')
                            td7.innerHTML = fie.total_cost.toFixed(2);
                        else td7.innerHTML = fie.total_cost;

                        console.log(typeof(fie.total_cost));

                        tr.append(td1);
                        tr.append(td2);
                        tr.append(td3);
                        tr.append(td4);
                        tr.append(td5);
                        tr.append(td6);
                        tr.append(td7);


                        if (all_list[i].pk == a.value) {

                            var t1 = document.createElement('th', scope = "col");
                            var t2 = document.createElement('td');
                            var t3 = document.createElement('td');
                            var t4 = document.createElement('td');
                            var t5 = document.createElement('td');
                            var t6 = document.createElement('td');
                            var t7 = document.createElement('td');
                            var t8 = document.createElement('td');
                            t1.innerHTML = all_list[i].pk;
                            t2.innerHTML = fie.is_on;
                            if(typeof(fie.goal_temp) == 'number')
                            t3.innerHTML = fie.goal_temp.toFixed(2);
                        else t3.innerHTML = fie.goal_temp;
                        if(typeof(fie.cur_temp) == 'number')
                            t4.innerHTML = fie.cur_temp.toFixed(2);
                        else t4.innerHTML = fie.cur_temp;
                            t5.innerHTML = fie.sp_mode;
                            t6.innerHTML = fie.work_mode;
                            if(typeof(fie.total_cost) == 'number')
                            t7.innerHTML = fie.total_cost.toFixed(2);
                        else t7.innerHTML = fie.total_cost;
                            tr2.append(t1);
                            tr2.append(t2);
                            tr2.append(t3);
                            tr2.append(t4);
                            tr2.append(t5);
                            tr2.append(t6);
                            tr2.append(t7);

                        }
                        body.append(tr);
                        body2.append(tr2);


                    }
                }
            })

        }

     function getinfo() {
         var a = document.getElementById("checkroom");
         var infotable = document.getElementById("tb");
         var data = [];
         for (var i = 0, rows = infotable.rows.length; i < rows; i++) {
             for (var j = 0, cells = infotable.rows[i].cells.length; j < cells; j++) {
                 if (!data[i]) {
                     data[i] = new Array();
                 }
                 data[i][j] = infotable.rows[i].cells[j].innerHTML;
             }
         }
         $.ajax({
             type: 'POST',
             url: 'checkInfo',
             data: {
                 'room_id': a.value
             },
             datatype: 'json',
             success: function () {
                 var artTable = document.getElementById("tb1");
                 var artBody = artTable.tBodies[0];
                 artBody.parentNode.outerHTML = artBody.parentNode.outerHTML.replace(artBody.innerHTML, "");
                 console.log("aaa");

                 for (var i = 0; i < data.length; i++) {
                     if (data[i][0] == a.value) {
                         $("#room_list").html('');

                         var tb = document.getElementById('tb1');
                         var body = tb.querySelector('tbody');
                         var tr = document.createElement('tr');
                         var td1 = document.createElement('th', scope = "col");
                         var td2 = document.createElement('td');
                         var td3 = document.createElement('td');
                         var td4 = document.createElement('td');
                         var td5 = document.createElement('td');
                         var td6 = document.createElement('td');
                         var td7 = document.createElement('td');
                         var td8 = document.createElement('td');
                         td1.innerHTML = data[i][0];
                         td2.innerHTML = data[i][1];
                         td3.innerHTML = data[i][2];
                         td4.innerHTML = data[i][3];
                         td5.innerHTML = data[i][4];
                         td6.innerHTML = data[i][5];
                         td7.innerHTML = data[i][6];

                         tr.append(td1);
                         tr.append(td2);
                         tr.append(td3);
                         tr.append(td4);
                         tr.append(td5);
                         tr.append(td6);
                         tr.append(td7);
                         body.append(tr);
                     }
                 }
             }
         })

     }

     function eachTableRow()
	 {
		 //获取table序号
		 var tab=document.getElementById("tb");
		 //获取行数
     	 var rows=tab.rows;
		 //遍历行
     	 for(var i=1;i<rows.length;i++)
     	{
			//遍历表格列
        	for(var j=0;j<rows[i].cells.length;j++)
        	{
				//打印某行某列的值
       			console.log("第"+(i+1)+"行，第"+(j+1)+"列的值是:"+rows[i].cells[j].innerHTML);
        	}
     	}
	 }

	 function loop_check()
     {
        //递归，每5s更新一次信息
         checkinfo();
          a = window.setTimeout("loop_check()", 5000);
          //window.clearTimeout(a);
     }
     loop_check();

</script>
    <input type="button" value="遍历" onclick="loop_check()"/>
    <input type="button" value="查询" onclick="getinfo()">

    <div class="-simple-chart-holder" style="margin:auto">
        <table id="tb1" class="table" width="30px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">房间号</th>
                <th scope="col">空调状态(开/关)</th>
                <th scope="col">目标温度</th>
                <th scope="col">当前温度</th>
                <th scope="col">空调风速</th>
                <th scope="col">空调模式</th>
                <th scope="col">当前花费</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


{#    {%with state_list|first as first %}#}
{#                  <p><b>房间号: </b>{{ state_list.room_id }}</p>#}
{#                  <p><b>是否入住: </b>{{ state_list.busy }}</p>#}
{#                  <p><b>是否开机: </b>{{ state_list.is_on }}</p>#}
{#                  <p><b>是否送风: </b>{{ state_list.is_work }}</p>#}
{#                  <p><b>风速模式: </b>{{ state_list.choice1 }}</p>#}
{#                  <p><b>送风时间: </b>{{ state_list.choice2 }}</p>#}
{#                  <p><b>计费金额: </b>{{ state_list.work_mode }}</p>#}
{##}
{#                  <p><b>风速: </b>{{ state_list.sp_mode }}</p>#}
{#                  <p><b>目标温度: </b>{{ state_list.goal_temp }}</p>#}
{#                  <p><b>当前温度: </b>{{ state_list.curr_temp }}</p>#}
{#                  <p><b>总花费: </b>{{ state_list.total_cost }}</p>#}
{#                  <br><br>#}
{#    {%endwith%}#}
{% endblock page-wrapper %}


<!--{% block content %}-->

<!--    <table id="tb" class="table" width="30px">-->
<!--  <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th scope="col">Room_id</th>-->
<!--        <th scope="col">空调状态(开/关)</th>-->
<!--        <th scope="col">目标温度</th>-->
<!--        <th scope="col">当前温度</th>-->
<!--        <th scope="col">空调风速</th>-->
<!--        <th scope="col">空调模式</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--        <th scope="row">642</th>-->
<!--        <td>开</td>-->
<!--        <td>26</td>-->
<!--        <td>31</td>-->
<!--        <td>1</td>-->
<!--        <td>制冷</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">643</th>-->
<!--        <td>开</td>-->
<!--        <td>19</td>-->
<!--        <td>26</td>-->
<!--        <td>3</td>-->
<!--        <td>制冷</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">644</th>-->
<!--        <td>关</td>-->
<!--        <td>xxx</td>-->
<!--        <td>24</td>-->
<!--        <td>xxx</td>-->
<!--        <td>xxx</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->


{% endblock content %}

</body>
</html>